<footer class="site-footer">
  <div class="footer-top">

    <div class="footer-column">
      <h3>Контакты</h3>
      <p>Здесь ничего нет, меня нет в соцсетях</p>
  
    </div>
</footer>

<style>
	.site-footer {
  padding: 2rem 1rem 1rem;
  font-family: "Georgia", serif;
}

.footer-top {
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.footer-column {
	justify-content: center;
	text-align: center;
	align-items: center;
}

.footer-column h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: black;
}

.footer-column p,
.footer-column a {
  font-size: 0.95rem;
  margin: 0.4rem 0;
  color: black;
  text-decoration: none;
}

.footer-column a:hover {
  color: black;
}

.social-link img {
  width: 24px;
  height: 24px;
  filter: invert(80%);
}
</style>