---
import Layout from "../../layouts/Layout.astro";
import PageToggle from "../../components/react/PageToggle";

const currentLang = "en";
---

<Layout title="Projects | Dmitry Lean">
  <main class="content">
    <div class="conteiner">
      <PageToggle client:load />
    </div>
  </main>
</Layout>

<style>
  .content {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 24px;
    font-style: bold;
    font-weight: 700;

    text-align: center;
    justify-content: center;
  }
</style>
