---
import Layout from "../../layouts/Layout.astro";
// import PageToggle from "../../components/react/PageToggle";
import WorksSection from "../../components/react/WorksSection";
import lang from "../../data/lang.json";
// import Works from "../../components/astro/Works.astro";

const currentLang = "ru";

const locale = currentLang;
const t = lang[locale];
---

<Layout title="Проекты | Title">
  <main class="content">
    <div class="conteiner">
      <WorksSection client:load />
      <!-- <Works /> -->
      <!-- <PageToggle client:load /> -->
    </div>
  </main>
</Layout>

<style>
  .content {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 24px;
    font-style: bold;
    font-weight: 700;

    text-align: center;
    justify-content: center;
  }
</style>
