<section class="about" id="about">
  <div class="container">
    <div class="about_content">
      <div class="hero_photo">
        <img
          src="/img/hero_photo.jpg"
          width="400px"
          height="600px"
          alt="hero_photo"
        />
      </div>
      <div class="about_text">
        <h2>My Name Is Dmitry Lean</h2>
        <h2>About Me</h2>
        <!-- <span class="tag">About me</span> -->

        <p class="about_description">
          Hi, I am engaged in the development of websites, applications and
          business process automation.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .about {
    background: black;
  }
</style>
