<section class="contact" id="contacts">
  <div class="contact_container">
    <div class="contact_image">
      <img src="/img/hero_photo.jpg" alt="hero_photo" />
    </div>

    <div class="contact_content">
      <span class="subtitle">Contacts</span>

      <form class="contact_form">
        <div class="form_row">
          <input type="text" placeholder="Your Name" />
          <input type="email" placeholder="Your EMail" />
        </div>

        <select id="service_type" name="service_type" class="form-service">
          <option value="customeweb">Layout</option>
          <option value="cmsweb">Web Development</option>
          <option value="cmsweb">Automatisation</option>
          <option value="cmsweb">Other</option>
        </select>

        <textarea placeholder="Message"></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>

<style>
  .contact {
    background: black;
    color: white;
  }

  .subtitle {
    color: white;
  }
</style>
