<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="nav_icon"></div>
      <ul class="nav_menu">
        <li><a href="/">Home</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#price">Price</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
    </nav>
  </div>
</header>
