<section class="services" id="price">
  <div class="service">
    <h2>Layout</h2>
    <p>
      Static layout on HTML/CSS/JS. The finished layout can be pulled onto CMS,
      or connected to the backend. Layout can also be done on popular CMS: Tilda
      and Wordpress.
    </p>
    <div class="price">from 5000 ₽</div>
    <a href="https://example.com" class="button">MORE DETAILS</a>
  </div>
  <div class="service">
    <h2>Web development</h2>
    <p>
      Development of web applications and services. Here I can join your team,
      or make a backend "out of the box" on Django for your project.
    </p>
    <div class="price">from 15,000 ₽</div>
    <a href="https://example.com" class="button">MORE DETAILS</a>
  </div>
  <div class="service">
    <h2>Automation</h2>
    <p>
      Creation and integration with web resources of telegram bots, scripts and
      parsers in Python.
    </p>
    <div class="price">from 15,000 ₽</div>
    <a href="https://example.com" class="button">MORE DETAILS</a>
  </div>
</section>
